form{
    text-align: center;
    display: block;
}

input{
    margin: 0.5rem;
}
.container h1{
    font-size: 5rem;
}
.container h2{
    text-align: left;
    font-style: italic;
}
button{
    margin: 1rem;
}
.container{
    text-align: center;
}