.auth-root-reset{
  background: #fff;
    width: 350px !important;
    height: 200px !important;
    margin: 80px auto 0 !important;
    box-sizing: border-box !important;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding:  20px !important;
    border-radius: 4px !important;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

}
.lock {
  background-color: turquoise;
  border-radius: 50%;
  padding: 4px !important;
  margin-right: 5px !important;
  color: white;
}

.new{
    color: white;
    margin: 5rem auto;
    max-width: 25%;
    text-align: center;
    background-color: #38015c;
    padding: 30px 0px 20px;
    border: solid;
    border-radius: 1rem;
}

.new input{
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 60%;
  text-align: left;
  padding: 0.25rem;
}
.form-controls {

  outline: none !important;
  border: none !important;
  border-bottom: 2px solid turquoise !important;
  margin-top: 5px;
  padding: 5px 0;
  border-radius: 0 !important;
  width: 100% !important;

}

.form-controls:focus,
.form-controls::backdrop {

  /* border: none !important; */
  box-shadow: none !important;

}

.form-controls::placeholder {
  color: lightgray;
  border: none;
}
.form-label {
  font-weight: 400;
  margin-bottom: 0 !important;
}

.btn {

  border: none !important;
  display: block !important;
  background-color: turquoise !important;
  padding: 5px 20px !important;
  width: 80%;
  margin: 0 auto !important;
  border-radius: 20px !important;
  color: #fff;
  margin-top: 5px !important;
  border: 1px solid turquoise !important;
  transition: 0.3s;
  text-transform: uppercase !important;
  cursor: pointer;


}



.btn:hover,
.btn:active {
    background-color: transparent !important;
    border: 1px solid turquoise !important;
    color: #000 !important;

}

.toggle{
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.toggle:hover{
    background-color: transparent;
    color: #ae82cc;
    cursor: pointer;
}