.App {
  margin: 5rem;
}
.form-group{
  margin: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#loginform{
  padding: 2rem;
  display: grid;
  border: 2px solid;
  border-radius: 0.5rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
